* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(white, rgb(35, 47, 58));
}

/* Navigation Styles */
nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #0f1337;
	display: table;
	width: 100%;
}
nav li {
	display: table-cell
}
li a {
	display: block;
	color: white;
	padding: 30px;
	text-decoration: none;
	text-align: center;
}
li a:hover {
	background-color: rgb(40, 39, 39);
}

/* Header Styles */
/*
header {
	background-color:
}
h1 {
	color:
} */


/* Main Page Content Styles */

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
.center-title {
	text-align: center;
}

/* About Section Styles */
#about-sec {
	display: flex;
	flex-direction: column;
}
#about-sec h2 {
	font-size: 1.95em;
	padding: 0 1.5em;
}
#about-sec #about-blurb {
	padding: 0 2.5em;
}
#about-sec div {
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
}
figure {
	display: flex;
	flex-direction: column;
	width: 30%;
}
img {
	width: 100%;
}
figcaption {
	font-style: italic;
	background-color:rgb(35, 47, 58);
	padding: 0.25em;
	color: whitesmoke;
	opacity: 0.5;
	font-size: 0.85em;
}

/* Aside Styles */
aside {
	display: flex;
	flex-direction: column;
	border: 4px double black;
	margin: 1em 0;
	color:rgba(35, 47, 58, 0.914);
	background-color: rgba(35, 47, 58, 0.05);
}
aside p {
	font-weight: 600;
	font-size: 1.25em;
	background-color: rgb(35, 47, 58);
	color: whitesmoke;
	margin: 0;
	padding: 0.5em;
	text-transform: uppercase;
	border-bottom: 4px double rgba(0, 0, 0, 0.77);
	opacity: 0.6;
}
aside ul {
	font-size: 0.9em;
	margin: 1em;
	padding: 0 0.75em 0 1em;
}
aside ul li a {
	text-align: justify;
	padding: 0;
	color:rgb(35, 47, 58);
	text-decoration: underline;
}

/* Table - Concert Schedule Styles */
#concert-schedule-sec {
	width: 100vw;
	margin: auto;
	height: max-content;
	color: rgb(255, 54, 154);
	background-color: black;
	padding: 2em;
	}
#concert-schedule-sec h3 {
	font-size: 2em;
}


/* Form - Ticket Form Styles */
form {
	width: 35vw;
	margin: auto;
  }

input[type="text"], input[type="number"] {
min-height: 15px;
border-radius: 5px;
border:1px solid #cccccc;
}

input[type="radio"] {
margin-left: 12px;
}

th {
border: 2px solid #8c6b48;
}

table {
text-align: center;
margin: 20px auto;
}

td {
border: 2px solid #8c6b48;
width: 300px;
}
